<!-- <nav id="topbar" class="border fixed split-nav">
  <p>Melvin Delpierre</p>
  <a>Compétences</a>
  <a>Réalisations</a>
  <a>Test</a>
</nav> -->

<nav class="border fixed split-nav">
  <div class="nav-brand">
    <h3><a href="/">Melvin DELPIERRE</a></h3>
  </div>
  <div>
    <ul class="inline">
      <li><a href="#">Réalisations</a></li>
      <li><a href="#">Compétences</a></li>
      <li><a href="#">Moi</a></li>
    </ul>
  </div>
</nav>

<div id="body" class="paper">
  <div class="card" style="width: 20rem; min-width: 20rem;">
    <img src="https://picsum.photos/768" alt="Card example image">

    <div class="card-body">
      <h4 class="card-title">My awesome Paper card!</h4>
      <h5 class="card-subtitle">Nice looking subtitle.</h5>
      <p class="card-text">blabalaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaablabalaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaablabalaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
      <a href="/article" class="paper-btn">Let me go here!</a>
    </div>
  </div>
</div>
