<nav class="border fixed split-nav">
  <div class="nav-brand">
    <h3><a href="/">Melvin DELPIERRE</a></h3>
  </div>
  <div>
    <ul class="inline">
      <li><a href="#">Réalisations</a></li>
      <li><a href="#">Compétences</a></li>
      <li><a href="#">Moi</a></li>
    </ul>
  </div>
</nav>

<div id="body" class="paper">

  <article class="article">
    <h1 class="article-title"><a href="">My awesome Paper card!</a></h1>
    <p class="article-meta">Written by <a href="#">Melvin</a></p>
    <p class="text-lead">Nice looking subtitle.</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti iure totam nam debitis aliquid impedit, et quas omnis aspernatur optio molestias ex laborum quia. Ducimus culpa tempore, veritatis officia delectus dolore dignissimos reprehenderit vero, sunt odit placeat est non molestiae ipsa nam velit in iusto hic quasi similique facere. Maxime?

      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti iure totam nam debitis aliquid impedit, et quas omnis aspernatur optio molestias ex laborum quia. Ducimus culpa tempore, veritatis officia delectus dolore dignissimos reprehenderit vero, sunt odit placeat est non molestiae ipsa nam velit in iusto hic quasi similique facere. Maxime?
    </p>
    <!-- <div class="row">
      <button>Read More</button>
      <button>5 Comments</button>
    </div> -->
  </article>
</div>
